.overlayMessage {
    -fx-border-width: 1;
    -fx-border-radius: 7;
    -fx-background-radius: 7;


    -fx-text-fill: #263c61;
    -fx-font-size: 17px;
    -fx-font-family: "Arial";
    -fx-padding: 5 50 4 50;
}

#batchOverlay {
    -fx-background-color: #00000066;
}

.success {
    -fx-background-color: #00ff0033;
    -fx-border-color: green;
}

.failure {
    -fx-background-color: #ff000033;
    -fx-border-color: red;
}