#specificationTab {
    -fx-background-color: #263c61;
    -fx-padding: 8 16;
}

#specificationTabBtn {
    -fx-background-color: #FFFFFF44;
    -fx-border-style: none;
    -fx-text-fill: white;
    -fx-font-family: Arial;

    -fx-padding: 6 20;
}

#specificationTabLabel {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 5px 10px 2px 10px;
}

#specificationContent {
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-visibility: hidden;
}

.contentSection {
    -fx-padding: 8;
    -fx-border-style: none;
}

.sectionContainer {
    -fx-border-width: 1px;
    -fx-border-color: #263c61;
    -fx-border-radius: 4;

    -fx-padding: 5px 10px 2px 10px;
}

.sectionHeading {
    -fx-background-color: #263c61;
    -fx-border-radius: 4;

    -fx-padding: 5px 10px 2px 10px;
    -fx-font-size: 16px;
    -fx-font-family: Arial;
    -fx-text-fill: white;
}