#theory-main-heading {
    -fx-text-fill: #3b5b97;
    -fx-font-size: 40;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 0 0 20px 0;
}

.theory-sub-heading {
    -fx-text-fill: #586373;
    -fx-font-size: 25;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 0 0 15px 0;
}

.theory-text {
    -fx-font-size: 16;
    -fx-padding: 0 0 30px 0;
}

.image-container {
    -fx-alignment: center;
    -fx-padding: 20px 0 50px 0;
}

.image-caption {
    -fx-text-fill: #586373;
    -fx-font-size: 14;
    -fx-font-family: "Arial";
    -fx-padding: 20px 0 0 0;
    -fx-font-style: italic;
}

.image-exception {
    -fx-text-fill: orange;
    -fx-font-size: 25;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 0 0 15px 0;
}

.page-exception {
    -fx-text-fill: red;
    -fx-font-size: 30;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-padding: 0 0 15px 0;
}

.exception-container {
    -fx-alignment: center;
}